.home-page{

    .text-zone{
        position: absolute;
        left: 10%;
        top: 45%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    .photo{
        border-radius: 50%;
        min-width: 150px;
        width: 40%;
        height: auto;
        margin: 0px 20px 20px 50px;
        
    }

    .top-lettering{
        color: #000000;
        margin-left: 80px;
        font-family: 'Code';
        font-size: 2.3vw;
        font-weight: 800;
    }

    .animated-name{
        color: #000000;
        font-size: 0.9vw;
        margin-top: 0;
        margin-left: 45px;
        font-family:'Code';
        

        &::before{
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after{
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity:0.6;
        }

       

        img{
            width: 25px;
            margin-left: 0px;
            margin-right: 3px;
            margin-bottom: -4px;
            opacity:0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;

            
        }
    }

    .animated-job{
        color: #000000;
        font-size: 1.1vw;
        margin-top: 0;
        margin-left: 60px;
        font-family:'Code';
    }

    .stack-info{
        margin-left: 68px;
        font-family: 'Poppins';
        font-size: 0.5vw;
    }
   
}

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: 'Poppins-Thin';
    animation: fadeIn 1s 1.8s backwards;

}

.flat-button{

    color: #0F70B7;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #0F70B7;
    margin-top: 25px;
    margin-left: 53px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover{
        background: #0F70B7;
        color: #333;
    }

}